data
datasets
dataset
.vscode
.idea
.venv
*/__pycache__/*
__pycache__/
sim-flwr-mnist/mak/__pycache__/
utils/secrets/*
torch-federated/secrets/*
explain-model/mnist_data/*
output/*
*/runs/*
torch-simulation/utils/secrets/*
torch-simulation/data/*
torch-federated/secrets/*
torch-federated/datasets/*