.vscode
.venv
.idea
data/*
.venvdata/*
*/__pycache__/*
__pycache__/
sim-flwr-mnist/mak/__pycache__/
explain-model/mnist_data/*
utils/secrets/*
dataset/*
output/*
*/runs/*
torch-simulation/utils/secrets/*
torch-simulation/data/*
torch-federated/secrets/*
torch-federated/datasets/*