tensorflow
numpy
matplotlib
pandas
scipy
biosppy
wfdb
tqdm
pydot
flwr[simulation]
PyYAML
tensorflow-cpu
torch
torchvision
flwr_datasets
shap
s3fs
boto3
# PyDrive
# google-auth
# google-auth-oauthlib
# google-auth-httplib2
# google-api-python-client
pymongo
pyRAPL
gputil